<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.thesis.shorthand.common"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <applicaton
        android:allowBackup="false" >
    </applicaton>

</manifest>
